.editgroupmodal__wrapper {
    background-color: #202032;
    border: 1px solid white;
    position: fixed;
    top: 4em;
    padding: 2em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    z-index: 9998;
    align-self: center;
    opacity: 1;
}

.editgroupmodal__close {
    cursor: pointer;
    color: white;
    align-self: flex-end;
    position: relative;
    top: -1em;
    left: 1em;
    width: 1.3em;
    height: 1.3em;
}

.editgroupmodal__input {
    padding: .8em;
    margin-top: .1em;
    width: 100%;
}

.editgroupmodal__heading {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 2em;
    font-weight: 700;
}

.editgroup__text {
    font-size: 12px;
    color: white;
}

.editgroupmodal__fields {
    display: flex;
    gap: 2em;
    padding-bottom: 2em;
    flex-direction: column;
}

.editgroupmodal__button {
    cursor: pointer;
}

.editgroupmodal__buttons {
    cursor: pointer;
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.editgroupmodal__button__cancel {

    background-color: #ffffff;
    color: #ea2d49;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #bebac6 0 -3px 0 inset;

    border-radius: 5px;
    padding: .6em 1.4em;
    border: 1px solid #ea2d49;
    transition: 0.2s;
    font-weight: 700;
    width: 80px;
    cursor: pointer;

}

.editgroupmodal__button__cancel:hover {
    transform: scale(1.04);
    background-color: #dbd7e4;
}

.editgroupmodal__button__save {
    width: 80px;
    background-color: #3500d3;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #1a3377 0 -3px 0 inset;

    border: none;
    border-radius: 5px;
    padding: .6em 1.4em;
    color: white;
    transition: 0.2s;
    font-weight: 700;
    cursor: pointer;
}

.editgroupmodal__button__save:hover {
    background-color: #2f05ac;
    transform: scale(1.04)
}