.dtmodal__wrapper {
    padding: 2em;
    background-color: gray;
    position: fixed;
    top: 7em;
    background-color: #202032;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    max-width: 70%;
    width: 300px;
}

.dt__close {
    width: 1.3em;
    height: 1.3em;
    align-self: flex-end;
    position: relative;
    top: -1.3em;
    left: 1.3em;
    cursor: pointer;
}

.dt__heading span {
    text-decoration: underline;
    font-weight: bold;
    word-break: break-word;
}

.dt__heading {
    padding-bottom: 2em;
    text-align: center;
}

.dt__buttons {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    justify-content: center;
}

