.leave__circle {
    align-self: flex-end;
    cursor: pointer;
    color: black;
    position: relative;
    top: -1em;
    left: 1em;
    width: 1.3em;
    height: 1.3em;
}

.leave__projectname {
    font-weight: bold;
    text-decoration: underline;
    word-break: break-word;
}

.leave__heading {
    color: black;
    font-size: 18px;
    max-width: 80%;
    text-align: left;
    padding-bottom: 1em;
}

.leave__buttons {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.leave__button {
    padding: .5em 1em;
    cursor: pointer
}

.cancel {
    background-color: #ffffff;
    color: #ea2d49;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #bebac6 0 -3px 0 inset;

    border-radius: 5px;
    padding: .6em 1.4em;
    border: 1px solid #ea2d49;
    transition: 0.2s;
    font-weight: 700;
    cursor: pointer;
    width: 80px;
}

.cancel:hover {
    transform: scale(1.04);
    background-color: #dbd7e4;
}

.leave {
    background-color: #3500d3;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #1a3377 0 -3px 0 inset;
    width: 80px;
    border: none;
    border-radius: 5px;
    padding: .6em 1.4em;
    color: white;
    transition: 0.2s;
    font-weight: 700;
    cursor: pointer;
}

.leave:hover {
    background-color: #2f05ac;
    transform: scale(1.04)
}