/* .inbox__wrapper {
    padding-top: 3em;
    margin-left: 4.82em;
    width: calc(100% - 5em);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    background-color: #0C0032;
    min-height: 100vh;
    padding-bottom: 4em;
} */

.inbox__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 4em;
}

.inboxitems {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}