.table__wrapper {
    width: 90%;
    padding-top: 3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 6em;
}

.table__heading {
    background-color: white;
    padding: 1em;
    border-radius: 3px 3px 0px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table__heading h1 {
    font-size: 1.1em;
}


.table {
    width: 100%;
}

thead {

    border-top: .5px solid rgba(189, 189, 189, 0.628);
    border-bottom: .5px solid rgba(189, 189, 189, 0.628);
    background-color: #e6e6ec;
}

.table,
th,
td {
    border-collapse: collapse;
}


th {
    text-align: left;
    font-size: .7em;
    padding: .5rem;
    color: rgba(0, 0, 0, 0.654);
    padding-left: 1em;
}

.description__cell {
    width: 100%;
}

td {
    background-color: white;
    min-width: 120px;
    text-align: left;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.654);
    font-size: .8em;
    padding: .5rem;
    padding-left: 1em;

}

td {
    cursor: pointer;
}

tbody tr {
    border-bottom: .5px solid rgba(189, 189, 189, 0.628);
}

.grouptable tbody tr:hover {
    background-color: #001f51;
    color: rgb(7, 7, 7);
}

.grouptable__leave {
    cursor: pointer;
    background-color: #ea2d49;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #620b18 0 -3px 0 inset;
    border: none;
    border-radius: 5px;
    padding: .6em 1.4em;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

.grouptable__leave:hover {
    background-color: #8b1123;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #3a060e 0 -3px 0 inset;
    color: white;
    transform: scale(1.04)
}

.blue__button {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
    cursor: pointer;
    background-color: #0861fc;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #044fd1 0 -3px 0 inset;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: .8em 1.4em;
    color: white;
    transition: 0.2s;
    font-weight: 700;
}

.blue__button:hover {
    background-color: #0c5ae2;
    transform: scale(1.04)
}

.new__group__button {
    cursor: pointer;
    padding: 8px 2px;
    font-size: .6em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2em;
    width: 80px;
    cursor: pointer;
    background-color: #384556;
    border: none;
    color: white;
    font-weight: 700;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #29333f 0 -3px 0 inset;
    transition: .2s;
}

.new__group__button:hover {
    background-color: #27313c;
    transform: scale(1.02)
}

.td__right {
    display: flex;
    gap: .5em;
}

/* .table__wrapper {
    padding-bottom: 4em;
    display: flex;
    padding-top: 3em;
    flex-direction: column;
    align-items: flex-start;
    max-width: 90%;
    width: 60em;
}


.action__logo {
    cursor: pointer;
}


.emptygroup__table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 2em;
} */

/* .action__button {
    cursor: pointer;
}

.group__heading {
    position: relative;
    justify-content: space-between;
    display: flex;
    left: 2em;
    align-items: center;
    gap: 2em;
    width: 52em;
    max-width: 100%;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.group__heading h1 {
    color: black;
}

.table {
    display: block;
    border-collapse: collapse;
    border-radius: 2px;
    width: 100%;
}



.th__left {
    border-radius: 10px 0px 0px 0px;
}

.th__right {
    border-radius: 0px 10px 0px 0px;
}

.td__right {
    padding-left: 10px;
    display: flex;
}



.table th,
.table td {
    color: black;
    padding: 0.8rem;
}


.table td {
    
overflow: hidden;
text-overflow: ellipsis;
}



.table tbody tr {
    max-width: 100%;
}

.name__cell {
    min-width: 200px;
    max-width: 250px;
    overflow: auto;
}

.description__cell {
    max-width: 100px;
    overflow: auto;
    text-overflow: ellipsis;

}



.expand {
    width: 100%;
}

.table tbody tr:hover {
    background-color: #b9c3d3;
    color: rgb(7, 7, 7);
}

.table tbody td {
    text-align: left;
}

.action__cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .3em;
}

.table thead {
   
color: black;

}

tbody tr {
    background-color: #3b3751;
}

tbody tr:nth-child(even) {
    background-color: #1f2937;
}


tbody tr {
    cursor: pointer;
    color: #d0dafa
}

*/
/* .new__group__button {
    padding: 14px 6px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2em;
    width: 120px;
    cursor: pointer;
    background-color: #384556;
    border: none;
    color: white;
    font-weight: 700;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #1a3377 0 -3px 0 inset;
    transition: .2s;
}

.new__group__button:hover {
    background-color: #694cc0;
    transform: scale(1.02)
}


.grouptable__edit {
    background-color: #3500d3;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #1a3377 0 -3px 0 inset;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: .6em 1.4em;
    color: white;
    transition: 0.2s;
    font-weight: 700;
}

.grouptable__edit:hover {
    background-color: #2f05ac;
    transform: scale(1.04)
} */

.emptygroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}


@media screen and (max-width:1100px) {

    .table__heading {
        width: 80%;
        position: static;
        justify-content: center;
        gap: 1em;
        flex-direction: column;
    }

    .table__wrapper {
        align-items: center;
    }

    .table {
        width: 80%;
        border-spacing: 2px;
    }

    .table tr {
        border-bottom: .5px solid rgba(189, 189, 189, 0.628);
    }

    .table tbody {
        width: 100%;
        display: table;
    }


    .action__td {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .action__cell {
        justify-content: center;
    }

    .name__cell,
    .creator__cell,
    .description__cell,
    .group__cell {
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1em;
    }

    .table td {
        border-top: none;
        word-break: break-word;
        text-align: left;
        color: black;
    }

    th {
        display: none;
    }

    .table td::before {
        content: attr(data-cell);
        text-decoration: underline;
        text-transform: capitalize;
        color: black;
        float: left;
    }




}