.error__wrapper {
    background-color: red;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.error__message {
    font-size: 2em;
    text-align: center;
}