.ctmodal__wrapper {
    background-color: rgb(95, 111, 126);
    position: fixed;
    width: 300px;
    max-width: 70%;
    top: 8em;
    z-index: 9998;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border-radius: 5px;
    background-color: #202032;
    border: 1px solid white;
    justify-content: center;
}

.ctmodal__close {
    align-self: flex-end;
    position: relative;
    top: -1em;
    left: 1em;
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
}

.ctmodal__heading {
    padding-bottom: 1em;
    text-align: center;
}

.ctmodal__heading span {
    word-break: break-word;
    text-decoration: underline;
    font-weight: bold;
}

.ctmodal__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.ctmodal__buttons {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.ctmodal__confirm {
    background-color: #3500d3;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #1a3377 0 -3px 0 inset;

    border: none;
    border-radius: 5px;
    padding: .6em 1.4em;
    color: white;
    transition: 0.2s;
    font-weight: 700;
    cursor: pointer;
    width: 80px;
}

.ctmodal__confirm:hover {
    background-color: #2f05ac;
    transform: scale(1.04)
}

.ctmodal__cancel {
    background-color: #ffffff;
    color: #ea2d49;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #bebac6 0 -3px 0 inset;

    border-radius: 5px;
    padding: .6em 1.4em;
    border: 1px solid #ea2d49;
    transition: 0.2s;
    font-weight: 700;
    cursor: pointer;
    width: 80px;
}

.ctmodal__cancel:hover {
    transform: scale(1.04);
    background-color: #dbd7e4;
}