.invitemodal__wrapper {
    background-color: #202032;
    border: 1px solid white;
    position: fixed;
    padding: 2em;
    width: 350px;
    max-width: 70%;
    display: flex;
    top: 6em;
    z-index: 9998;
    border-radius: 5px;
}

.invitemodal__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.invitemodal__top {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding-bottom: 1em;
}

.invitemodal__top h2 {
    text-align: center;
}

.invitemodal__form input {
    padding: 1em;
    border-radius: 2px;
    margin-bottom: 2em;
    border: none;
    margin-top: 2em;
}

.invited__member {
    word-break: break-all;
}

.invited__members__list {
    max-width: 100%;
    min-width: 80%;
    max-height: 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    overflow: auto;
    background-color: white;
    padding: 1em;
    margin-top: 1em;
    border-radius: 2px;
}

.invited__member {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}


.invited__member__left {
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

.invited__member__icon {
    min-width: 1em;
    min-height: 1em;
    max-width: 1em;
    max-height: 1em;
}

.invited__remove {
    justify-self: flex-end;
    cursor: pointer;
    width: 20px;
    color: #ea2d49;
    height: 20px;
}

.invitemodal__form input:focus {
    border: none;
}

.invitemodal__invitedlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0em
}

.invitemodal__add {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    padding: .3em .4em;
}

.invitemodal__close {
    align-self: flex-end;
    position: relative;
    top: -1.2em;
    color: black;
    width: 1.3em;
    height: 1.3em;
    left: 1em;
    cursor: pointer
}

.invitemodal__buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1em;
    padding-top: 1em;
}

.invitemodal__button {
    cursor: pointer
}

.invitemodal__add {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
    cursor: pointer;
    background-color: #0861fc;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #044fd1 0 -3px 0 inset;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    padding: .6em 1.2em;
    color: white;
    transition: 0.2s;
    font-weight: 700;
}



.invitemodal__add:hover {
    background-color: #0c5ae2;
    transform: scale(1.04)
}



.invitemodal__invitedlist {
    max-height: 200px;
    background-color: white;
    padding: 2em;
}