.groupdetails__wrapper {
    padding-top: 2em;
    margin-left: 4.85em;
    padding-left: .15em;
    width: calc(100% - 5em);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background-color: #0C0032
}

.groupdetails__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 6em;
    gap: 1em;
    padding-bottom: 2em;
    color: #d0dafa;
    width: 100%;
}

@media screen and (max-width:600px) {
    .groupdetails__container {
        padding-left: 0em;
        align-items: flex-start;
        width: 80%;
    }
}