.memberssection__wrapper {
    width: fit-content;
    min-width: 200px;
    max-width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em;
    justify-content: center;
    background-color: aquamarine;
}

.memberssection__icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    background-color: blue;
}

.members__section__container {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.members__heading {
    font-size: clamp(1em, 5vw, 1.2em);
    color: #d0dafa
}

.member__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    max-width: 120px;
}

.memberbutton__circle,
.memberbutton__text {
    font-size: clamp(10px, .7em, .8em)
}

.members__list {
    display: flex;
    justify-content: center;
    gap: 1em;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 2em;
}