.loadinggroup__bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.4em;
    flex-wrap: wrap;
}

.loadinggroup__message {
    text-align: center;
    font-size: min(20px, 7vw);
    color: black;
    font-weight: bold;
}

.loading__circles {
    display: flex;
    gap: .4em;
    align-self: flex-end;
    position: relative;
    top: -.5em;

}

.loading__circle {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    animation-name: jumpingDots;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.loading__circles :nth-child(2) {
    animation-delay: 0.5s;
}

.loading__circles div:nth-child(3) {
    animation-delay: 0.8s;
}

@keyframes jumpingDots {
    20% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-6px)
    }
}

@keyframes run {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(20%);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0)
    }
}