 :root {
     --sidebar-background-color: rgb(255, 255, 255);
     --sidebar-title-color: rgb(0, 0, 0);
     --sidebar-menu-burger: rgb(0, 0, 0);
     --sidebar-icon-color: rgb(0, 0, 0);
     --sidebar-icon-hover: rgb(0, 0, 0);
     --sidebar-name: rgb(12, 12, 12);
     --sidebar--upload: rgb(18, 18, 18);
 }

 .sidebar__wrapper {

     width: 6em;
     height: 100vh;
     /* margin-left: .5em;
     margin-top: .5em; */
     padding: .5em 1em;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: var(--sidebar-background-color);
     gap: 2em;

     transition: all .2s ease-in;
     position: fixed;
     top: 0;
     z-index: 9997;
     overflow-y: auto;
     overflow-x: hidden;
 }

 .sidebar__title__icon,
 .sidebar__title {
     font-size: 1.8em;
     color: var(--sidebar-title-color);
     display: none;
 }

 .sidebar__menu {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 80px;
     height: 80px;
     cursor: pointer;
     transition: all 0.5s ease-in-out;
 }

 .sidebar__menu__burger {
     width: 30px;
     height: 3px;
     border-radius: 5px;
     background: var(--sidebar-menu-burger);
     transition: all 0.1s ease-in-out;
 }

 .sidebar__menu__burger::before,
 .sidebar__menu__burger::after {
     content: "";
     position: absolute;
     width: 30px;
     height: 3px;
     background: var(--sidebar-menu-burger);
     border-radius: 5px;
     transition: all 0.3s ease-in-out;
 }

 .sidebar__menu__burger::before {

     transform: translateY(-9px);
 }

 .sidebar__menu__burger::after {
     transform: translateY(9px);
 }

 .sidebar__profile {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background: none;
 }

 .sidebar__heading {
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .sidebar__profile__picture {
     border-radius: 10%;
     background-size: cover;
     border: none;
     background-color: rgba(0, 0, 0, 0.312);
     width: 50px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     position: relative;
     margin-bottom: .5em;
 }



 #file {
     display: none;
 }

 .default__image {
     border-radius: 50%;
 }

 .upload__image {
     position: absolute;
     height: 21px;
     width: 21px;
     cursor: pointer;
     background-color: var(--sidebar--upload);
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     top: 2.4em;
     left: 2.4em;
     border: 1px solid black;
 }

 .camera {
     height: 14px;
     width: 14px;
     color: white;
 }

 .profile__im__container {
     position: relative;
     width: 80%;
     height: 80%;
 }

 .sidebar__person {
     height: 60px;
     width: 60px;
     color: rgb(12, 12, 12);
 }

 .sidebar__profile__name {
     display: none;
     word-break: break-all;

     color: var(--sidebar-name)
 }

 .sidebar__link__text {
     color: black;
     display: none;
 }

 .sidebar__links {
     margin-top: 2em;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     gap: .5em;

 }

 .rocky__container {
     display: none;
 }



 .sidebar__link {

     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 1em;
     font-size: 1.1em;
     padding: .75em 1em;
     border-radius: 5px;
     width: 100%;
     transition: all 0.1s ease-in-out;

 }

 .sidebar__link:hover {
     transform: scale(1.1);
 }

 .sidebar__link__icon {
     font-size: 1.4em;

 }

 .sidebar__link:hover {
     background-color: rgba(42, 43, 50, 1);
 }

 .sidebar__link:hover .sidebar__link__icon {
     color: white;
 }

 .sidebar__link:hover .sidebar__link__text {
     color: white;
 }

 .rocky__container {
     width: 40px;
     height: 40px;
     position: relative;
 }


 .sidebar__button {
     align-items: center;
     margin-top: 2em;
     border-radius: 7px;
     border-width: 0;
     box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, rgb(188, 188, 188) 0 -3px 0 inset;
     color: black;
     cursor: pointer;
     display: inline-flex;
     height: 48px;
     justify-content: center;
     padding-left: 16px;
     padding-right: 16px;
     width: 60px;
     font-size: 25px;
     background-color: white;
     transition: all 0.2s ease-in-out;
 }

 .sidebar__button:hover {
     transform: scale(1.03);
     background-color: rgb(218, 217, 217);

 }

 .sidebar__button__text {
     display: none;
 }

 .active {
     width: 280px;
     padding-bottom: 2em;
 }

 .sidebar__wrapper.active .sidebar__links .sidebar__link .sidebar__link__text {
     display: block;
 }




 .sidebar__wrapper.active .sidebar__profile .sidebar__profile__picture .camera {
     width: 19px;
     height: 19px;
 }

 .sidebar__wrapper.active .sidebar__profile .upload__image {
     top: 4.6em;
     border: 2px solid black;
     width: 30px;
     height: 30px;
     left: 4.6em;
 }

 .sidebar__link__text {
     color: rgb(0, 0, 0);
 }

 .sidebar__wrapper.active .sidebar__links .sidebar__link {
     font-size: 1em;
 }

 .sidebar__wrapper.active .sidebar__links .sidebar__link .sidebar__link__icon {
     font-size: 1.2em;

 }

 .sidebar__wrapper.active .sidebar__heading {
     display: flex;
     gap: 3em;
     padding-bottom: 1em;
     align-items: center;
     justify-content: space-between;
 }

 .sidebar__wrapper.active .sidebar__button .sidebar__button__text {
     display: block;
 }

 .sidebar__wrapper.active .sidebar__button {
     width: 140px;
     padding: 15px;
     font-size: 1em;
     gap: 1.2em;
 }

 .sidebar__wrapper.active .sidebar__heading__left {
     display: flex;

     border-radius: 20px;
     justify-content: center;
     align-items: center;
     gap: .5em;
 }

 .sidebar__wrapper.active .sidebar__heading__left .rocky__wrapper {
     padding: .2em;
     border-radius: 5px;
     background-color: rgb(0, 0, 0);
 }

 .sidebar__wrapper.active .sidebar__heading__left .rocky__container {
     display: block;
 }

 .sidebar__wrapper.active .sidebar__heading__left .sidebar__title__icon {
     font-size: 1.5em;
     display: block;
 }

 .sidebar__wrapper.active .sidebar__heading__left .sidebar__title {
     font-size: 1.5em;
     display: block;
 }

 .sidebar__wrapper.active .sidebar__heading__left .rocky__container {
     width: 23px;
     border-radius: 10px;
     height: 23px;
     display: block;
 }

 .sidebar__wrapper.active .sidebar__profile .sidebar__profile__name {
     display: block;
     padding-top: .4em;
     padding-bottom: 1em;
     font-size: 1em;
 }

 .sidebar__wrapper.active .sidebar__profile .sidebar__profile__picture {
     width: 95px;
     height: 95px;
 }

 .sidebar__wrapper.active .sidebar__menu {
     padding-left: .5em;
     width: 25px;
     height: 25px;
 }

 .sidebar__wrapper.active .sidebar__menu .sidebar__menu__burger {
     transform: translateX(-50px);
     background: transparent;
 }

 .sidebar__wrapper.active .sidebar__menu .sidebar__menu__burger::before {
     transform: rotate(45deg) translate(35px, -35px);
     width: 18px;
     height: 3px;
 }

 .sidebar__wrapper.active .sidebar__menu .sidebar__menu__burger::after {
     transform: rotate(-45deg) translate(35px, 35px);
     width: 18px;
     height: 3px;
 }

 .sidebar__login {
     margin-top: 3em;
 }

 .sidebar__wrapper.active .sidebar__login {
     margin-top: 0em;
 }

 .sidebar__wrapper.active .sidebar__links {

     padding-bottom: 7em;
     border-bottom: .5px solid rgba(255, 255, 255, 0.492);
     margin-top: 0em;
 }

 .sidebar__wrapper.active .sidebar__links .sidebar__link {

     padding: 1em 3em;
 }

 .sidebar__wrapper.active .sidebar__links .sidebar__link:hover {
     transform: scale(1);
 }