 /* .sidebar__wrapper {
     width: 5em;
     background-color: #ecf9fd;
     height: 100vh;
     padding: 1em;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 3em;
     gap: 2em;
     border-radius: 0px 5px 5px 0px;
     transition: all 0.07s ease-in;
     position: fixed;
     top: 0;
     z-index: 9999;
     overflow-y: auto;
     overflow-x: hidden;
 }

 .sidebar__title__icon,
 .sidebar__title {
     font-size: 1.8em;
     display: none;
 }

 .sidebar__menu {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 80px;
     height: 80px;
     cursor: pointer;
     transition: all 0.5s ease-in-out;
 }

 .sidebar__menu__burger {
     width: 35px;
     height: 5px;
     border-radius: 5px;
     background: #0a1430;
     transition: all 0.1s ease-in-out;
 }

 .sidebar__menu__burger::before,
 .sidebar__menu__burger::after {
     content: "";
     position: absolute;
     width: 35px;
     height: 5px;
     background-color: #0a1430;
     border-radius: 5px;
     transition: all 0.3s ease-in-out;
 }

 .sidebar__menu__burger::before {
     transform: translateY(-12px);
 }

 .sidebar__menu__burger::after {
     transform: translateY(12px);
 }

 .sidebar__profile {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background: none;
 }

 .sidebar__profile__picture {
     border-radius: 50%;
     background-size: cover;
     border: none;
     background-color: #0a1430;
     width: 70px;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: .5em;
 }

 .sidebar__person {
     height: 60px;
     width: 60px;
     color: white;
 }

 .sidebar__profile__name {
     display: none;
     font-weight: bold;
 }

 .sidebar__link__text {
     display: none;
 }

 .sidebar__links {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     gap: 1em;

 }

 .sidebar__link {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: .5em;
     font-size: 1.1em;
     padding: 1em 1.5em;
     border-radius: 10px;
     width: 100%;
     transition: all 0.2s ease-in-out;
     font-weight: 600;
 }

 .sidebar__link__icon {
     font-size: 1.4em;
 }

 .sidebar__link:hover {
     background-color: #172d6b;
     color: white;
 }

 .sidebar__button {
     align-items: center;
     border-radius: 7px;
     border-width: 0;
     box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #1a3377 0 -3px 0 inset;
     color: white;
     cursor: pointer;
     display: inline-flex;
     height: 48px;
     justify-content: center;
     padding-left: 16px;
     padding-right: 16px;
     font-size: 25px;
     background-color: #3861d2;
     transition: all 0.2s ease-in-out;
 }

 .sidebar__button:hover {
     transform: scale(1.03);
     background-color: #16295c;
 }

 .sidebar__button__text {
     display: none;
 }

 .active {
     width: 250px;

 }

 .sidebar__wrapper.active .sidebar__links .sidebar__link .sidebar__link__text {
     display: block;
 }

 .sidebar__wrapper.active .sidebar__links .sidebar__link {
     font-size: 1.2em;
 }

 .sidebar__wrapper.active .sidebar__links .sidebar__link .sidebar__link__icon {
     font-size: 1em;

 }

 .sidebar__wrapper.active .sidebar__heading {
     display: flex;
     gap: 3em;
     justify-content: center;
 }

 .sidebar__wrapper.active .sidebar__button .sidebar__button__text {
     display: block;
 }

 .sidebar__wrapper.active .sidebar__button {
     padding: 30px;
     font-size: 1.2em;
     gap: 1.2em;
 }

 .sidebar__wrapper.active .sidebar__heading .sidebar__heading__left {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: .5em;
     padding-left: 2em;
 }

 .sidebar__wrapper.active .sidebar__heading .sidebar__heading__left .sidebar__title__icon {
     font-size: 2em;
     display: block;
 }

 .sidebar__wrapper.active .sidebar__heading .sidebar__heading__left .sidebar__title {
     display: block;
 }

 .sidebar__wrapper.active .sidebar__profile .sidebar__profile__name {
     display: block;
     font-size: 1.3em;
 }

 .sidebar__wrapper.active .sidebar__profile .sidebar__profile__picture {
     width: 100px;
     height: 100px;
 }

 .sidebar__wrapper.active .sidebar__menu .sidebar__menu__burger {
     transform: translateX(-50px);
     background: transparent;
 }

 .sidebar__wrapper.active .sidebar__menu .sidebar__menu__burger::before {
     transform: rotate(45deg) translate(35px, -35px);
 }

 .sidebar__wrapper.active .sidebar__menu .sidebar__menu__burger::after {
     transform: rotate(-45deg) translate(35px, 35px);
 } */

 .sidebar__wrapper {
     box-shadow:
         0px 1px 2px #3500d3,
         0px 2px 4px #3500d3,
         0px 4px 8px #3500d3,
         0px 16px 15px #3500d3;
     width: 5em;
     background-color: #190061;
     height: 100vh;
     padding: 0em 1em;
     display: flex;
     flex-direction: column;
     align-items: center;

     gap: 1em;
     border-radius: 0px 5px 5px 0px;
     transition: all 0.07s ease-in;
     position: fixed;
     top: 0;
     z-index: 9999;
     overflow-y: auto;
     overflow-x: hidden;
 }

 .sidebar__title__icon,
 .sidebar__title {
     font-size: 1.8em;
     color: white;
     display: none;
 }

 .sidebar__menu {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 80px;
     height: 80px;
     cursor: pointer;
     transition: all 0.5s ease-in-out;
 }

 .sidebar__menu__burger {
     width: 35px;
     height: 5px;
     border-radius: 5px;
     background: #ffffff;
     transition: all 0.1s ease-in-out;
 }

 .sidebar__menu__burger::before,
 .sidebar__menu__burger::after {
     content: "";
     position: absolute;
     width: 35px;
     height: 5px;
     background-color: #ffffff;
     border-radius: 5px;
     transition: all 0.3s ease-in-out;
 }

 .sidebar__menu__burger::before {
     transform: translateY(-12px);
 }

 .sidebar__menu__burger::after {
     transform: translateY(12px);
 }

 .sidebar__profile {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background: none;
 }

 .sidebar__profile__picture {
     border-radius: 50%;
     background-size: cover;
     border: none;
     background-color: #f2f2f2;
     width: 70px;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: .5em;
 }

 .sidebar__person {
     height: 60px;
     width: 60px;
     color: rgb(12, 12, 12);
 }

 .sidebar__profile__name {
     display: none;
     font-weight: bold;
 }

 .sidebar__link__text {
     color: white;
     display: none;
 }

 .sidebar__links {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     gap: 1em;

 }

 .sidebar__link {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: .5em;
     font-size: 1.1em;
     padding: 1em 1.5em;
     border-radius: 10px;
     width: 100%;
     transition: all 0.2s ease-in-out;
     font-weight: 600;
 }

 .sidebar__link__icon {
     font-size: 1.4em;
     color: white;
 }

 .sidebar__link:hover {
     background-color: #5729e3;
     color: white;
 }

 .sidebar__button {
     align-items: center;
     border-radius: 7px;
     border-width: 0;
     box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(66, 50, 99, 0.3) 0 7px 13px -3px, #1a3377 0 -3px 0 inset;
     color: white;
     cursor: pointer;
     display: inline-flex;
     height: 48px;
     justify-content: center;
     padding-left: 16px;
     padding-right: 16px;
     font-size: 25px;
     background-color: #521fe8;
     transition: all 0.2s ease-in-out;
 }

 .sidebar__button:hover {
     transform: scale(1.03);
     background-color: #3500d3;

 }

 .sidebar__button__text {
     display: none;
 }

 .active {
     width: 270px;
     padding-bottom: 2em;
 }

 .sidebar__wrapper.active .sidebar__links .sidebar__link .sidebar__link__text {
     display: block;
 }

 .sidebar__wrapper.active .sidebar__links .sidebar__link {
     font-size: 1.2em;
 }

 .sidebar__wrapper.active .sidebar__links .sidebar__link .sidebar__link__icon {
     font-size: 1em;

 }

 .sidebar__wrapper.active .sidebar__heading {
     display: flex;
     gap: 3em;
     justify-content: center;
 }

 .sidebar__wrapper.active .sidebar__button .sidebar__button__text {
     display: block;
 }

 .sidebar__wrapper.active .sidebar__button {
     padding: 30px;
     font-size: 1.2em;
     gap: 1.2em;
 }

 .sidebar__wrapper.active .sidebar__heading .sidebar__heading__left {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: .5em;
     padding-left: 2em;
 }

 .sidebar__wrapper.active .sidebar__heading .sidebar__heading__left .sidebar__title__icon {
     font-size: 2em;
     display: block;
 }

 .sidebar__wrapper.active .sidebar__heading .sidebar__heading__left .sidebar__title {
     display: block;
 }

 .sidebar__wrapper.active .sidebar__profile .sidebar__profile__name {
     display: block;
     font-size: 1.3em;
 }

 .sidebar__wrapper.active .sidebar__profile .sidebar__profile__picture {
     width: 100px;
     height: 100px;
 }

 .sidebar__wrapper.active .sidebar__menu .sidebar__menu__burger {
     transform: translateX(-50px);
     background: transparent;
 }

 .sidebar__wrapper.active .sidebar__menu .sidebar__menu__burger::before {
     transform: rotate(45deg) translate(35px, -35px);
 }

 .sidebar__wrapper.active .sidebar__menu .sidebar__menu__burger::after {
     transform: rotate(-45deg) translate(35px, 35px);
 }