.kickmodal__wrapper {
    padding: 2em;
    position: fixed;
    background-color: #202032;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-width: 70%;
    border-radius: 5px;
    z-index: 9998;
    top: 10em;

}

.kickmodal__close {
    color: black;
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
    align-self: flex-end;
    position: relative;
    top: -1em;
    left: 1em;
}

.kickmodal__heading {
    color: white;
    text-align: center;
    padding-bottom: 2em;
}

.kickmodal__heading span {
    text-decoration: underline;
    font-weight: bold;
    word-break: break-word;

}

.kickmodal__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kickmodal__buttons {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}